// ===== General Style =====
// Imports
@import "./scss/mixinsAndOtherCSS.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: rgba(0,101,176,0.8);
  background-image: url(./img/sky.jpg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  width: 414px; 
  margin: 0 auto; 
  border-radius: 10px;
  background-clip: padding-box;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 7px;
  margin-left: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(99, 187, 255,0.2)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,101,176,0.6);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(30, 138, 221,0.6);
}

// Button Styles
input, .loginButton, .backButton, .upload-label {
  padding: 10px 15px; 
  border-radius: 5px; 
  border: 2px solid rgba(0,101,176,0.3); 
  text-decoration: none;
}

.loginButton, .backButton, .upload-label, .blueButton, .cursor {
  cursor: pointer;
}

.upload-button {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -9999;
}

.upload-label {
  background-color: rgba(0,101,176,0.2);
  text-align: left;
  font-size: 0.9rem;
  color: rgb(0,101,176);
}

.blueButton {
  @include buttonStyles;
  background-color: rgb(0,101,176);
  &:hover {
    background: rgb(30, 138, 221) radial-gradient(circle, transparent 1%, rgb(30, 138, 221) 1%) center/15000%;
  }
  &:active {
    background-color: rgb(99, 187, 255);
  }
}

.backButton {
  @include buttonStyles;
  width: 100%;
  margin: 10px 0; 
  display: block;
  background-color: rgb(240,174,84);
  &:hover {
    background: rgb(243, 193, 124) radial-gradient(circle, transparent 1%, rgb(160, 116, 54) 1%) center/15000%;
  }
  &:active {
    background-color: rgb(238, 223, 201);
  }
}

.back-button-container {
  padding: 0 30px;
}

// Special font colors
.greyFont {
  text-decoration: none;
  font-size: 0.9rem;
  color: grey; 
}

.fontColorOrange {
  color: rgb(240,174,84);
  font-weight: bold;
}

// ===== Login & Registration Style =====
.logoStart {
  position: relative; 
  display: block; 
  margin: 0 auto;
  width: 50%;  
  padding: 10vh 0 5vh 0; 
  animation: scale2 1s; 
}

h1 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  color: rgb(0,101,176);
  margin: 5vh 0; 
}

.start {
  padding: 20px 30px; 
  form {
    margin-bottom: 10vh;
    input, .loginButton, .upload-label {
      width: 100%;
      margin: 10px auto; 
      display: block;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// ===== Header Component Style =====
header {
  @include flexSpaceBetween; 
  align-items: center; 
  padding: 20px 30px; 
  font-size: 25px;
  color: rgb(0,101,176);
  section {
    @include flexSpaceBetween;
    align-items: center;
    h2 {
      font-size: 2rem;
      margin-left: 10px; 
    }
  }
}

// ===== AddComment Component Style =====
.addComment {
  @include flexSpaceBetween; 
  padding: 10px 30px; 
  margin-bottom: 7px;
  input:nth-of-type(1) { 
    width: 60%; 
  }
  input:nth-of-type(2) { 
    width: 35%; 
  }
}

// ===== Search Bar Component Style =====
.search {
  padding: 0px 10px;
  margin: 10px 30px 15px 30px;
  background-color: rgb(178,208,231);
  border-radius: 5px;
}

.search-form {
  @include flexAlignCenter;
  width: 100%;
  padding-block: 2px;
  .search-input{
    background-color: rgb(255,255,255,0);
    color: #000000;
    outline: none;
    border: none;
    width: 100%;
  }
  .search-label {
    font-size: 130%;
    color: rgb(0,101,176);
  }
  .FaIcon {
    padding-top: 5px;
  }
}

.search-input::placeholder {
  color: rgb(0,101,176);
}

// ===== Comment Component Style =====
.commentItems, .searchResults {
  height: calc(100vh - 205px); 
  overflow: auto;
}

.postAnswers, .conversationPage {
  height: calc(100vh - 140px); 
  overflow: auto;
}

.comment {
  @include flexSpaceBetween; 
  align-items: top; 
  margin-top: 0px; 
  padding: 20px 35px; 
  border-top: 1px solid rgba(0,101,176,0.3);
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .commentContent {
    width: 70%; 
    margin-left: 30px; 
    p {
      margin: 8px 0; 
    }
  }
}

.comment-link {
  text-decoration: none;
  color: black;
}

// ===== Like and Comment Counter Style =====
.counterIcons {
  @include flexAlignCenter; 
  a, div {
    @include flexAlignCenter; 
    text-decoration: none;
    .counterP {
      margin: 0 20px 0 5px; 
    }
  }
} 

.commentCounter {
  color: rgb(0,101,176);
}

.likeCounter {
  color: darkred; 
}

// ===== Comment Answer Style =====
.postAnswers {
  .addComment {
    display: block; 
    margin: 30px 0;
    input {
      margin: 0 auto; 
      display: block; 
      width: 100%; 
    }  
    .inputComment {
      height: 100px; 
      margin-bottom: 10px;
    }
  }
}

// ===== Conversation (Comment Answer) Style =====
.conversationPage { 
  .commentConversationAnswer {
    margin: 0 20px 0 20%; 
    border-bottom: 1px solid rgba(0,101,176,0.3);
  }
}

// ===== Footer Style =====
footer {
  position: fixed; 
  bottom: 7px;
  font-size: 30px;
  div {
    @include flexSpaceBetween; 
    padding: 0 50px;   
    width: 414px;
    margin-left: auto;
    margin-right: auto;
  }
}